nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #8b1212;
    padding: 30px 0;
}

nav ul li {
     padding: 0 30px;
}

nav ul li a {
text-decoration: none;
color: #566;
}

nav ul li a:hover {
 text-decoration: none;
 color: white;
 font-weight: bold;   
}
